
<div class="timeline">
  <h1>タイムライン</h1>

</div>

<br><br>

<div class="index_brochures">
  <h1>しおり一覧</h1>
  <%= link_to "新規作成", new_brochure_path %><br><br>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Start</th>
        <th>Number of days</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @brochures.each do |brochure| %>
        <tr>
          <td><%= brochure.title %></td>
          <td><%= brochure.start_date %></td>
          <td><%= brochure.days %></td>
          <td><%= brochure.departure %></td>
          <td><%= brochure.arrival %></td>
          <td><%= link_to 'Show', brochure %></td>
          <td><%= link_to 'Edit', edit_brochure_path(brochure) %></td>
          <td><%= link_to 'Destroy', brochure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<br><br>

</div>
