<h1>Editing Brochure</h1>

<%= form_with(model: @brochure, local: true) do |form| %>
  <% if @brochure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brochure.errors.count, "error") %> prohibited this brochure from being saved:</h2>

      <ul>
      <% brochure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :sightseeing %>
    <%= form.text_field :sightseeing %>
  </div>

  <!-- <%= form.hidden_field :lat, id:"center_lat" %>
  <%= form.hidden_field :lng, id:"center_lng" %> -->

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<br>

<h1>スケジュール</h1>

<div class="days">
  <%= link_to "１日追加", brochure_days_path(@brochure) , method: :post %><br><br>
  <% @n = 1 %>
  <% @days.each do |day| %>
    <div class="day">
      <h3 style="display:inline;"><%= @n %> 日目 （）</h3>
      <%= link_to 'Destroy', brochure_day_path(@brochure, day), method: :delete, data: { confirm: 'Are you sure?' } %>
      <p>開始時間 : <%= day.start_time %></p>

      <% m = 1 %>
      <%= form_with(model: @spot, local: true) do |form| %>
        <% day.spots.each do |spot| %>
          <div class="time_required">
            <% if m != 1 %>
                ■ 移動時間 : googleMapで計算する。
              <br><br>
            <% end %>
          </div>
          <div class="spot field">
            順番 : <%= spot.numbering %><br>
            開始時間 : <%= day.start_time %><br>
            終了時間 : <%= day.start_time %><br>
            location : <%= spot.location_name %><br>
            所要時間 : <%= form.number_field :stay_time %><br>
            <%= link_to "更新", brochure_day_spot_path(@brochure, day, spot) , method: :delete %><br>
            <%= link_to "行かない", brochure_day_spot_path(@brochure, day, spot) , method: :delete %><br>
          </div>
          <% m += 1 %>
        <% end %>
        <%= form.text_field :spot %>
        <!-- <%= link_to "+ いきたい場所", brochure_day_spots_path(@brochure, day) , method: :post %> -->
        <%= link_to "+ いきたい場所", brochure_day_spots_path(@brochure, day) , method: :post %>
        <div class="actions"><%= form.submit "+ いきたい場所" %></div><br><br><br>
      <% end %>
    </div>
    <% @n += 1 %>
  <% end %>

</div>

<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_key %>&libraries=places&callback=initMap"
    async defer></script>

<div id="infowindow-content">
  <img src="" width="16" height="16" id="place-icon">
  <span id="place-name"  class="title"></span><br>
  <span id="place-address"></span>
</div>


<%= link_to 'Show', @brochure %> |

<br><br>

<%= link_to 'Back', brochures_path %>
