<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @brochure.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @brochure.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @brochure.end_date %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @brochure.departure %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @brochure.arrival %>
</p>

<%= link_to 'Edit', edit_brochure_path(@brochure) %> |
<%= link_to 'Back', brochures_path %>
