<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @brochure.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @brochure.start_date.to_date %> 〜 <%= (@brochure.start_date + 60*60*24*(@brochure.duration-1)).to_date %>
</p>

<p>
  <strong>Number of days:</strong>
  <%= @brochure.duration %>
</p>

<p>
  <strong>Public:</strong>
  <%= @brochure.public_flag %>
</p>

<br><br>

<h1>スケジュール</h1>

<div class="days">
  <% next_time = [] %>
  <% @days.each.with_index do |day, n| %>
    <div class="day">
      <h3 style="display:inline;"><%= n+1 %> 日目 </h3>
      <p>開始時間 : <%= day.start_time %></p>
      <% spots = day.spots.order(numbering: :asc) %>
      <% spots.each.with_index do |spot, i| %>
        <div class="time_required">
          <% if i != 0 %>
              ■ 移動時間 : <%= @durations[n][i-1] %> 分
            <br><br>
          <% end %>
        </div>
        <div class="spot field">
          順番 : <%= spot.numbering %><br>
          <% if i == 0 %>
            開始時間 : <%= day.start_time %><br>
            終了時間 : <%= next_time[i] = day.start_time + spot.stay_time.to_i * 60 %><br>
          <% else %>
            開始時間 : <%= next_time[i-1] + @durations[n][i-1] * 60 %><br>
            終了時間 : <%= next_time[i] = next_time[i-1] + @durations[n][i-1] * 60 + spot.stay_time.to_i * 60 %><br>
          <% end %>
          location : <%= spot.location_name %><br>
          所要時間 : <%= spot.stay_time %>分<br>
        </div>
      <% end %>
    </div>
  <% end %>

</div>


<%= link_to 'Edit', edit_brochure_path(@brochure) %> |
<%= link_to 'Back', brochures_path %>
