<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<% if user_signed_in? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Start</th>
        <th>End</th>
        <th>Number of days</th>
        <th>Public</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @brochures.each do |brochure| %>
        <tr>
          <td><%= brochure.title %></td>
          <td><%= brochure.start_date.to_date %></td>
          <td><%= (brochure.start_date + 60*60*24*(brochure.duration-1)).to_date %></td>
          <td><%= brochure.duration %></td>
          <td><%= brochure.public_flag %></td>
          <td><%= link_to 'Show', brochure %></td>
          <td>
            <% if @members.find_by(brochure_id: brochure.id) %>
              <%= link_to 'Edit', edit_brochure_path(brochure) %>
            <% end %>
          </td>
          <td>
            <% if @members.find_by(brochure_id: brochure.id) %>
              <%= link_to 'Destroy', brochure, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
