<section class="jumbotron text-center top-background">
  <div class="container top-text">
    <h1 class="jumbotron-heading">TravelMaker</h1>
    <p id="sub-explain" class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    <% if user_signed_in? %>
      <p><%= link_to 'New Travel', new_brochure_path, :class=>"btn btn-primary my-2" %></p>
    <% end %>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <h2>Time Line</h2>
    <div class="row">
      <% @brochures.each do |brochure| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div width="100%" height="300" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail"></div>
            <% if brochure.avatar.attached? %>
              <%= link_to image_tag(url_for(brochure.avatar), :class => "top_brochure_image"), brochure %>
            <% else %>
              <div class="top_brochure_no_image"></div>
            <% end %>
            <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %} -->
            <div class="card-body">
              <h3 class="card-text"><span style="font-size: 50%; font-weight: 400; color: #6c757d;">Title: </span><%= brochure.title %></h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'Show', brochure, :class=>"btn btn-sm btn-outline-secondary" %>
                  <% if user_signed_in? %>
                    <% if @members.find_by(brochure_id: brochure.id) %>
                      <%= link_to 'Edit', edit_brochure_path(brochure), :class=>"btn btn-sm btn-outline-secondary" %>
                    <% end %>
                  <% end %>
                </div>
                <small class="text-muted"><%= brochure.start_date.to_date %> 〜 <%= (brochure.start_date + 60*60*24*(brochure.duration-1)).to_date %> <br>(<%= brochure.duration %> days)</small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
