<h1>Editing Day</h1>

<%= form_with(model: @day, url: brochure_day_path(@brochure, @day), local: true, method: :put) do |form| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_field :start_time %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Back', edit_brochure_path(@brochure) %>
